

  <a href="/songs/new"> <img src="http://images.all-free-download.com/images/graphiclarge/sign_add_98027.jpg" height="45px" width="45px" ></a>
 
 <h1>Song Dropdown:</h1>
<% @song.each do |song| %>
  <div class="song" text-align:centre>

  <h3><a href="/songs/<%= song.id %>"><br><%= song.title %></a> <small>(by: <%= song.author %>) <br><img src="https://our-eu-voices.wikispaces.com/file/view/music%20line.gif/479891338/music%20line.gif" height="20" width="50"></small></h3>
    <p>
    <%= song.updated_at %>
<br>
  <a href = "<%= song.url %>"> Listen now!</a>
    </p>

  </div>

<% end %>
<!-- Social Footer, Colour Matching Icons -->
<!-- Include Font Awesome Stylesheet in Header -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!-- // -->
<div class="container">
  <hr>
        <div class="text-center center-block">
            <br />
                <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
    <hr>
</div>

<br />

